<div>
  <div class="wrapper wrapper-our-customers">
    <app-labeltag labelText="OUR CUSTOMERS"></app-labeltag>

    <div class="">
      <h3>Trusted by <b>100,000+ customers </b> in 90+ countries</h3>

      <div class="customers-logos">
        <img src="../../../../../assets/icons/capgemini-logo.png" alt="" />
        <img src="../../../../../assets/icons/yamaha-logo.png" alt="" />
        <img src="../../../../../assets/icons/biocon-logo.png" alt="" />
        <img src="../../../../../assets/icons/dell-logo.png" alt="" />
        <img src="../../../../../assets/icons/ckbirla-group-logo.png" alt="" />
        <img src="../../../../../assets/icons/shell-logo.png" alt="" />
      </div>

      <div class="our-customers-specs">
        <span>
          <img
            src="../../../../../assets/svg/tick-right-lightblue.svg"
            alt=""
          />
          <p><span>18281</span> signed up last month</p>
        </span>
        <span>
          <img
            src="../../../../../assets/svg/tick-right-lightblue.svg"
            alt=""
          />
          <p><span>GDPR</span>- & <span>CCPA</span>-ready</p>
        </span>
        <span>
          <img
            src="../../../../../assets/svg/tick-right-lightblue.svg"
            alt=""
          />
          <p><span>Leader&#64;G2</span> Summer</p>
        </span>
      </div>
    </div>
  </div>
</div>
