<div class="hero">
  <div class="wrapper hero-wrapper">
    <h2>
      A powerful online engagement tool that’s intuitive and simple to use.
    </h2>
    <p>
      With stellar one-click reports and unmatched support, see how Circle will
      make a difference in your business.
    </p>

    <app-button
      buttonText="Get started free"
      buttonIcon="../../../assets/svg/chevron-right-white.svg"
      buttonType="primary"
    ></app-button>

    <img src="../../../../../assets/images/hero-image.png" alt="" />
  </div>
</div>
