<div class="our-promise">
  <div class="wrapper our-promise-wrapper">
    <hr />

    <div class="our-promise-section">
      <div class="text-section">
        <app-labeltag labelText="OUR PROMISE"></app-labeltag>

        <h3>Tool <b>built for people.</b></h3>

        <p>
          Whether you want to edit your Google Docs, resolve Jira issues, or
          collaborate over Zoom.
          <br />
          <br />
          Circle has 100+ integrations with tools you already use and love.
        </p>
        <app-button buttonText="Get started free"></app-button>
      </div>
      <div class="image-section">
        <img
          src="../../../../../assets/images/group-people.png"
          alt="group-people.png"
        />
      </div>
    </div>
    <hr />
  </div>
</div>
