<p class="home-page">home works!</p>
<input type="text" />

<img
  class="chevron-right"
  height="30"
  width="30"
  src="../../../assets/svg/chevron-right-solid.svg"
/>

<app-button
  buttonText="Get started free"
  buttonIcon="../../../assets/svg/chevron-right-white.svg"
  buttonType="primary"
></app-button>

<app-button
  buttonText="Get started free"
  buttonIcon="../../../assets/svg/cloud-arrow-down-outline.svg"
  buttonType="secondary"
></app-button>
<app-button buttonText="Login" buttonType="secondary"></app-button>

<a routerLink="/home">Home</a>
<button routerLink="/about">About</button>
