<p class="home-page">home works!</p>
<input type="text" />

<img
  class="chevron-right"
  height="30"
  width="30"
  src="../../../assets/svg/chevron-right-solid.svg"
/>

<app-button
  buttonText="Get started free"
  buttonIcon="../../../assets/svg/chevron-right-white.svg"
  buttonType="primary"
></app-button>

<app-button
  buttonText="Get started free"
  buttonIcon="../../../assets/svg/cloud-arrow-down-outline.svg"
  buttonType="secondary"
></app-button>
<app-button buttonText="Login" buttonType="secondary"></app-button>

<a routerLink="/home">Home</a>
<button routerLink="/about">About</button>

<svg viewBox="0 0 100 100" width="50" height="50">
  <circle
    cx="50"
    cy="50"
    r="40"
    [attr.fill]="iconFill"
    (mouseenter)="selectIcon()"
    (mouseleave)="selectIcon()"
  />
</svg>

<svg viewBox="0 0 100 100" width="50" height="50">
  <circle cx="50" cy="50" r="40" class="circle-dot" />
</svg>
